* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* ================================================================
        ------- Navbar --------
=================================================================== */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b263b;
    padding: 19px;
}

.navmenu h1 {
    color: white;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;

}

.navmenu ul li a {
    color: white;
    text-decoration: none;
}


/* ================================================================
        ------- Container --------
=================================================================== */

.container {
    border: 2px solid;
    background-image: url(https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149009903.jpg?semt=ais_hybrid&w=740);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.left {
    align-content: center;
    line-height: 90px;
    padding-top: 60px;
    margin-left: 90px;
}

.container .left h1 {
    align-content: center;
    text-align: center;
    font-size: 4.20em;
    text-align: left;
    color: white;
}

.container .left h2 {
    font-size: 4em;
    text-align: left;
    margin-left: 70px;
    color: white;

}

.container .left h4 {
    font-size: 2rem;
    color: white;

}

.container .right img {
    width: 30vw;
    border-radius: 50%;
}